<div id="page-footer">
  <div class="ui bottom fixed menu teal header">
    <div class="item">
      <img src="/images/logo.png">
    </div>
    <p>Copyright © 2017 Travel More Co.                      </p>
    <p>Find out more: travelMore@travel.com</p>
  </div>

</div>
