<div id="page-footer">
  <div class="ui bottom fixed menu teal header ui grid">



      <div class="four column row">
        <div class="column">
          <p>Copyright © 2017 Travel More Co.</p>

        </div>
        <div class="column">
          <p><i class="mail icon"></i>  travelmore@travel.com</p>
        </div>
        <div class="column"></div>
        <div id="flex-wrapper" class="column">
          <i class="retweet icon"></i>
          <i class="pied piper hat icon"></i>
          <i class="marker icon"></i>
          <i class="paypal icon"></i>
          <i class="instagram icon"></i>

        </div>

      </div>

  </div>

</div>
