


<div class="ui grid">
  <div class="sixteen wide column">
    <div class="front-image">
        <div class="ui two column centered grid">

            <div class="column" id="landing-title">
              <h1>Explore With Us!</h1>
            </div>

            <div id="landing-form" class="four column centered row ">

                <%= render 'login' %>

            </div>
        </div>
    </div>
  </div>
</div>
