


<div class="ui grid">
  <div class="sixteen wide column">
    <div class="front-image">
        <div class="ui two column centered grid">

            <div class="column" id="landing-title">
              <h1>Plan Your Adventure!</h1>
            </div>

            <div id="landing-form" class="four column centered row ">
              <div class="sign-back">
                <%= render 'login' %>

              </div>

            </div>
        </div>
    </div>
  </div>
</div>
