@import 'semantic-ui';
body {
    background-image: url("http://media4.onsugar.com/files/2014/02/17/838/n/1922441/f0bd144ded7b1bfd_shutterstock_89720368.jpg.xxxlarge_2x.jpg");
    background-size: cover;
}
@import 'animate';
@import 'locations';
@import 'trips';

//FLASH MESSAGES
.flash-messages{
  // position: fixed;
  padding-top: 66px;
  display: flex;
  .flash{
    margin: 0 auto;
    width: 50%;
    height: 50px;
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
    p{
      align-self: center;

    }
  }
  .flash.alert{
    background-color: #F49F0A;
    color: white;
  }
  .flash.success{
    background-color: #BBDEF0;
  }
  .flash.notice{
    background-color: #BBDEF0;
  }
}



#error_explanation{
  background: rgba(130, 130, 130, 0.5);
  color: rgb(190, 10, 10);
  li{
    list-style-type: none;

  }
}
.backing{
  background: rgba(10, 10, 10, 0.4);
  border-radius: 15px;

}
.sign-back{
  background: rgba(10, 10, 10, 0.4);
  width: 25%;
  border-radius: 15px;
  margin: 0 auto;
}

.menu{
  margin-bottom: 50px;
}

.front-image{
  background: url('landing_image.jpg')center center;
  background-size: cover;
  height: 100vh;
  max-width: auto;
  width: auto;
}

.landing-banner{
  height: 80%;
}

.landing-div{
  max-height: 60%;
  height: 60vh;
  margin: 0 auto;
}

#login-form{
  height: 250px;
  width: auto;
}

.land-footer{
  background-color: lightblue;
  height: 400px;
}

.ui.grid > .column:not(.row){
  padding: 0;
  margin: 0;
}

#landing-title{
  padding-top: 75px;
  text-align: center;
  color: black;
  h1{
    font-size: 75px;
    text-shadow: white 1px 1px 1px;

  }
}

#landing-button{
  padding-top: 41px;

}

#landing-form{
  label{
    color: white;
    font-size: 18px;
  }
}

#page-footer{
  color: white;
}
.ui.menu {
  background: #383838;
  .item{
    color:white;
  }
}

#login-land{
  width: 250px;
  h2{
    color: white;
  }
}


#flex-wrapper{
  display:flex;
  justify-content: space-evenly;
}
