//INDEX PAGE

#trip-show{
  margin-bottom: 65px;
  .ui.cards > .card, .ui.card{
    height: 275px;
    width: 100%;
    margin-top: 5%;
    .card-top{
      max-height: 50px;
    }
    .card-bottom{
    }
    .image{
      height: 170px;
      img{
        margin: auto;
        width: 100%;
        height: inherit;
      }
    }
  }
}

#trip-show{
  text-align: center;
  padding-top: 15px;
}

//SHOW PAGE -- accedently named everything with location instead of trip(oops)

#location-wrapper{
  padding-top: 15px;
  h1{
    font-size: 48px;
    padding-bottom: 20px;
  }
}

#map{
  border: 2px solid black;
}
.all-locations{

}

#all-locations{
  padding: 3% 0 9% 0 ;
  h1{
    text-align: center;
    padding-top: 20px;
  }
  .location-buttons{
    padding-bottom: 10px;
    text-align: center;
  }
}

.flex-wrapper{
  font-size: 17px;
  height: 250px;
  display: flex;
  padding: 5%;
  background: rgba(220,220,230, 0.5);
  border-radius: 15px;
  #trip-name{
    font-size: 22px;
    padding: 2px 0;
  }
  .trip-buttons{
    align-self: flex-end;
  }
}
