//INDEX PAGE

#trip-show{

  margin-bottom: 65px;
  .ui.cards > .card, .ui.card{
    height: 275px;
    width: 100%;
    margin-top: 5%;
    .card-top{
      max-height: 50px;
    }
    .card-bottom{
    }
    .image{
      height: 170px;
      img{
        margin: auto;
        width: 100%;
        height: inherit;
      }
    }
  }
}

#trip-show{
  text-align: center;
  padding-top: 15px;
}

.ui.cards > .local {
    max-width: 22%;
}

//SHOW PAGE -- accedently named everything with location instead of trip(oops)

#location-wrapper{
  padding-top: 15px;
  h1{
    font-size: 48px;
    padding-bottom: 20px;
    color: white;
  }
}

#map{
  border: 2px solid black;
}


#all-locations{
  padding: 3% 0 9% 0 ;
  h1{
    text-align: center;
    padding-top: 20px;
    color: white;
  }
  .location-buttons{
    padding-bottom: 10px;
    text-align: center;
  }
  h3{
    color: white;
    text-align: center;
    font-size: 22px;
    background: rgba(40, 40, 40, 0.7);
    border-radius: 15px;
    width: 50%;
    margin: 0 auto;
  }
}

#flex-wrapper2{
  font-size: 17px;
  height: 250px;
  display: flex;
  padding: 2%;
  background: #E1F2FE;
  border-radius: 15px;
  #description-trip{
    padding-left: 15px;
    border-left: 2px solid black;
  }
  #trip-name{
    font-size: 22px;
    padding: 2px 0;
  }
  .trip-buttons{
    align-self: flex-end;
  }
}
